@font-face {
	font-family : 'PirulenRegular';
	src         : url('../fonts/pirulen-webfont.eot');
	src         : url('../fonts/pirulen-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pirulen-webfont.woff') format('woff'), url('../fonts/pirulen-webfont.ttf') format('truetype'), url('../fonts/pirulen-webfont.svg#PirulenRegular') format('svg');
	font-weight : normal;
	font-style  : normal
}
